
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, sans-serif;
  margin:0;
}
.mySlides {
  display: none;
}
img {
  height: 500px;
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: 30px auto;
  height: 500px;
}

.mySlides{
  position: relative;
  overflow: hidden;
  height: 100%;
}
 .animated-btn{
  position: absolute;
  left: 10%;
  bottom: 20%;
  animation-name: animated-btn;
  animation-duration: 2.5s;
  transition: all ease-out;
  -webkit-transition: all ease-out;
  -moz-transition: all ease-out;
  -ms-transition: all ease-out;
  -o-transition: all ease-out;
  background: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@keyframes animated-btn {
  0%{
    bottom: -100%;
    background-color: transparent;
    opacity: 0;
  }
  55%{
    opacity: 0;
    background-color: transparent;
  }
  60%{
    opacity: 0.1;
  }
  70%{
    opacity: 0.1;
  }
  80%{
    opacity: 0.2;
  }
  90%{
    opacity: 0.4;
  }
  100%{
    bottom: 20%;
    opacity: 1;
  }
}
.demo-data{
  color: #fff;
  width: 500px;
  position: absolute;
  right: 100%;
  transform: translate(100%);
  top: 40%;
  animation-name: demo-data;
  animation-duration: 2s;
  transition: all linear;
  -webkit-transition: all linear;
  -moz-transition: all linear;
  -ms-transition: all linear;
  -o-transition: all linear;
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
}
@keyframes demo-data {
  0%{
    right: -100%;
    opacity: 0;
  }
  55%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  80%{
    opacity: 0.6;
  }
  90%{
    opacity: 0.8;
  }
  100%{
    right: 100%;
    opacity: 1;
  }
}
.animated-demo{
  color: #fff;
  font-size: 4em;
  position: absolute;
  left: 0px;
  top: 20%;
  animation-name: animated-demo;
  animation-duration: 1s;
  transition: all linear;
  -webkit-transition: all linear;
  -moz-transition: all linear;
  -ms-transition: all linear;
  -o-transition: all linear;
}@keyframes animated-demo {
  0%{
    left:-100%;
    opacity: 0.1;
    display: none;
  }
  100%{
    left: 0%;
    opacity: 1;
  }
}
.animated-img{
  height: 400px;
  position: absolute;
  right: 0px;
  bottom: 0%;
  animation-name: animated-img;
  animation-duration: 1.6s;
  transition: all linear;
  -webkit-transition: all linear;
  -moz-transition: all linear;
  -ms-transition: all linear;
  -o-transition: all linear;
}
@keyframes animated-img {
  0%{
    bottom: -100%;
    opacity: 0.1;
  }
  100%{
    bottom: 0%;
    opacity: 1;
  }
}
.dot-box{
  position: absolute;
  top: 50%;
  right: -4%;
  transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 4px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
  
}

.active, .dot:hover {
  background-color: #444444;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
